.bodyhome-razas {
  background-color: #f1dce9;
  height: 100%;
  padding: 1rem 2rem;
  font-size: 0.9rem;
}

.h3-razas {
  display: grid;
  text-align: center;
}

.cat-info {
  text-align: center;
  margin-top: 20px;
}

.breed-details {
  background-color: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Sombra para el contenedor */
  margin-top: 1rem;
}

.breed-details h2 {
  margin: 10px 0 5px;
  color: #333;
}

.breed-details p {
  color: #555;
  line-height: 1.5;
}


.cat-image {
  max-width: 100rem;
  max-height: 100rem;
  border-radius: 0.5rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  padding-right: 2rem;
}
